@define-color foreground #fae6cb;
@define-color background #2c2432;
@define-color cursor #fae6cb;

@define-color color0 #202020;
@define-color color2 rgb(60, 110, 80);
@define-color color6 rgb(60, 110, 80);
