:root {
  --dark-shade0: #121212;
  
  --dark-shade7: #F5F5F5;
  
  --dark-accent0: #C80000;
  
  --dark-accent1: #D66000;
  
  --dark-accent2: #FAC800;
  
  --dark-accent3: #14B414;
  
  --dark-accent4: #15A2D1;
  
  --dark-accent5: #1A4CE0;
  
  --dark-accent6: #F5F5F5;
  
  --dark-accent7: #DA0777;
  
  --dark-shade1: #323232;
  
  --dark-shade2: #535353;
  
  --dark-shade3: #737373;
  
  --dark-shade4: #949494;
  
  --dark-shade5: #B4B4B4;
  
  --dark-shade6: #D5D5D5;
}