@import url("colors-waybar.css");

* { 
	font-family: JetBrains Mono Nerd Font;
  font-size: 0.9rem;
}
window#waybar{
	background: transparent;
	color: @foreground;
}



/* Left */
#workspaces {
	background: transparent;
	
	min-width: 11.75rem;

	border-radius: 12px;
	border: none;
	
  margin-top: 0.6rem;
	margin-right: 10px;
}
#workspaces button {
	color: @background;

	padding: 0 8px;

	transition: ease-in-out color 100ms, ease-in-out font-size 100ms;
}
#workspaces button:hover{
	background: none;
	text-shadow: none;
	box-shadow: none;
	border: none;
	outline: none;
}
#workspaces button.active{
	color: @color5;
}

.media{
	background: transparent;

	font-size: 12px;

	min-width: 22rem;

	border: none;	
	
	padding-left: 10px;
	padding-right: 10px;

  margin-top: 0.6rem;
}

.weather {
	background: transparent;

	min-width: 14rem;

	border: none;
	
  margin-top: 0.6rem;
	margin-right: 10px;
}


/* Central */
#clock {
  color: @foreground ;
	font-size: 2rem;
	font-weight: 800;

  margin-bottom: -0.6rem;
	margin-left: 20px;
	margin-right: 20px;
}

/* Right */
#network {
	background: transparent;

  min-width: 10.5rem;

	border: none;

  margin-top: 0.6rem;	

	padding: 0 10px;
}
#pulseaudio {
	background: transparent;

	min-width: 4.5rem;

	border: none;

  margin-top: 0.6rem;

	padding: 0 10px;
}
#cpu {
	background: transparent;

	min-width: 4.5rem;

	border: none;

  margin-top: 0.6rem;

	padding: 0 10px;
}
#memory {
	background: transparent;

	min-width: 4.5rem;

	border: none;
	
  margin-top: 0.6rem;

	padding: 0 10px;
}
#battery {
	background: transparent;

	min-width: 4.5rem;

	border: none;
	
  margin-top: 0.6rem;

	padding: 0 10px;
}










