@import url("colors-waybar.css");

* { 
	font-family: JetBrains Mono Nerd Font;
  font-size: 0.9rem;
}
window#waybar{
	background: transparent;
	color: @foreground;
}



/* Left */
#workspaces {
	background: alpha(@color0, 0.7);
	
	min-width: 11.75rem;

	border-radius: 12px;
	border: @color2 1px solid;
	
  margin-top: 0.6rem;
	margin-right: 10px;
}
#workspaces button {
	color: @foreground;

	padding: 0 8px;

	transition: ease-in-out color 100ms, ease-in-out font-size 100ms;
}
#workspaces button:hover{
	font-size: 1.25rem;
	background: none;
	text-shadow: none;
	box-shadow: none;
	border: none;
	outline: none;
}
#workspaces button.active{
	font-size: 1.25rem;
	color: @color5;
}

.media{
	background: alpha(@color0, 0.7);

	font-size: 12px;

	min-width: 40rem;

	border-radius: 6px;
	border: @color2 1px solid;	
	
	padding-left: 10px;
	padding-right: 10px;

  margin-top: 0.6rem;
}



/* Central */
#clock {
	font-size: 2rem;
	font-weight: 800;

  margin-bottom: -0.6rem;
	margin-left: 20px;
	margin-right: 20px;
}

/* Right */
#network {
	background: alpha(@color0, 0.7);

  min-width: 10.5rem;

	border-radius: 6px;
	border: @color2 1px solid;

  margin-top: 0.6rem;	
	margin-right: 10px;

	padding: 0 10px;
}
#pulseaudio {
	background: alpha(@color0, 0.7);

	min-width: 4.5rem;

	border-radius: 6px;
	border: @color2 1px solid;

  margin-top: 0.6rem;
	margin-right: 10px;

	padding: 0 10px;
}
#cpu {
	background: alpha(@color0, 0.7);

	min-width: 4.5rem;

	border-radius: 6px;
	border: @color2 1px solid;

  margin-top: 0.6rem;
	margin-right: 10px;

	padding: 0 10px;
}
#memory {
	background: alpha(@color0, 0.7);

	min-width: 4.5rem;

	border-radius: 6px;
	border: @color2 1px solid;
	
  margin-top: 0.6rem;
	margin-right: 10px;

	padding: 0 10px;
}
#battery {
	background: alpha(@color0, 0.7);

	min-width: 4.5rem;

	border-radius: 6px;
	border: @color2 1px solid;
	
  margin-top: 0.6rem;
	margin-right: 10px;

	padding: 0 10px;
}
.weather {
	background: alpha(@color0, 0.7);

	min-width: 13.95rem;

	border-radius: 6px;
	border: @color2 1px solid;
	
  margin-top: 0.6rem;
	margin-right: 10px;
}










